/*--------------------------*/
/* F O N T */
/*--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*--------------------------*/
/* V A R I A B L E S */
/*--------------------------*/
:root{
    --color-pri: #1fc72d;    
    --color-sec: #000;
    --font-family: Poppins, sans-serif;
}

/*--------------------------*/
/* R E S E T */
/*--------------------------*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
    
}

/*--------------------------*/
/* */
/*--------------------------*/
body{
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family);
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        h1{
            text-align: center;
            font-size: 4rem;
            font-weight: 500;
        }
        h2{
            font-size: 1rem;
            text-align: center;
            font-weight: 300;
        }
        h3{
            text-align: center;
            gap: 2rem;
        }
        img{
            width: 250px;
            text-align: center
            
        }
    }
    menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2em;
        a:is(:link, :visited) {
            border-radius: 10px 0 10px 0;
            background-color: rgb(198, 167, 199);
            display: flex;
            gap: 1rem;
            text-decoration: none;
            padding: 10px;
            transition: all 0.4s ease-in-out;
            width: 280px;
            span {
                font-size: 2rem;
            }
        }
        a:is(:hover) {
            background-color: #ca799f;
            transform: scale(1.02);
        }
    }
}
/*--------------------------*/
/* */
/*--------------------------*/
body.menu{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
